<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prisoner Dilemma</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="src/client.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
	  position: absolute;
	  max-height: 350px;
      width: 80%;
      max-width: 1200px;
	  margin-top: 190px;
	  overflow-y: scroll;
	  margin-left: 100px;
    }
	
	#user-list {
	position: absolute;
	height: 375px;
	max-height: 375px;
	width: 10%;
	max-width: 200px;
	left: 0;
	top: 120px;
	}
	
	#voting-booths {
	  position: absolute;
	  height: 100px;
	  width: 80%;
	  margin-left: 100px;
	  margin-top: 110px;
	  text-align: center;
	}
	
	.booth {
	  height: 70px;
	  display: inline-block;
	  text-align: center;
	  width: 76px;
	  visibility: hidden;
	}
	
	.booth div {
	height: 100%;
	width: 46%;
	display: inline-block;
	border: 1px solid black;
	margin-left: 0;
	margin-right: 0;
	overflow-x: hidden;
	}

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: fixed;
      padding-bottom: 50px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
	
	#ambidex {
	  position: fixed;
	  padding-bottom: 10px;
	  bottom: 0;
	}
  </style>
</head>
<body>
  <div style= "height: 100px; width: 100%; position:fixed; top:0; text-align: center;">
    <div style= "height: 100px; width: 20%; display: inline-block; border-color: black; border-width: thick;">
	<div style="top: 0; height: 50px; border-color: black; border-style: solid; border-width: 2px;">Name</div>
	<div id="name" style="top: 50%; height: 50px; border-color: black; border-style: solid; border-width: 2px;">N/A</div>
 </div>
	<div style= "height: 100px; width: 20%; display: inline-block; border-color: black; border-width: thick;">
	<div style="top: 0; height: 50px; border-color: black; border-style: solid; border-width: 2px;">role</div>
	  <div id="role" style="top: 50%; height: 50px; border-color: black; border-style: solid; border-width: 2px;">N/A</div>
	</div>
	<div style= "height: 100px; width: 20%; display: inline-block; border-color: black; border-width: thick;">
	  <div style="top: 0; height: 50px; border-color: black; border-style: solid; border-width: 2px;">points</div>
	  <div id="points" style="top: 50%; height: 50px; border-color: black; border-style: solid; border-width: 2px;">N/A</div>
	</div>
	<div style= "height: 100px; width: 20%; display: inline-block; border-color: black; border-width: thick;">
	  <div style="top: 0; height: 50px; border-color: black; border-style: solid; border-width: 2px;">timer</div>
	  <div id="timer" style="top: 50%; height: 50px; border-color: black; border-style: solid; border-width: 2px;">Standby</div>
	</div>
  </div>
  <div id="user-list"></div>
  <div id="voting-booths">
     <div class="booth" id="b0">
	 <div class="side" id="b-0-0">A</div><div class="side" id="b-0-1">B</div>
	 </div>
	 <div class="booth" id="b1">
	 <div class="side" id="b-1-0">A</div><div class="side" id="b-1-1">B</div>
	 </div>
	 <div class="booth" id="b2">
	 <div class="side" id="b-2-0">A</div><div class="side" id="b-2-1">B</div>
	 </div>
	 <div class="booth" id="b3">
	 <div class="side" id="b-3-0">A</div><div class="side" id="b-3-1">B</div>
	 </div>
  </div>
  <div id="message-container"></div>
  <form id="send-container">
    <input type="text" id="message-input">
	<button type="submit" id="send-button">Send</button>
  </form>
  <div id="ambidex">
    <button id="ally">Ally</button>
	<button id="betray">Betray</button>
  </div>
</body>
</html>